In [1]:
import pandas as pd

In [19]:
path = './raw_data/Falen.txt'
df = pd.read_fwf(path, widths=[29,4,7,8,7,11,9,6])
df.columns = ['datetime', 'lane', 'speed', 'length', 'class', 'gap', 'wrong_dir', 'display']
df.head()

,datetime,lane,speed,length,class,gap,wrong_dir,display
0,Wed Aug 30 16:10:39 CEST 2017,2,35,49,2,1776,0.0,0.0
1,Wed Aug 30 16:10:39 CEST 2017,1,48,50,2,6200,0.0,0.0
2,Wed Aug 30 16:10:41 CEST 2017,1,46,38,2,1184,0.0,0.0
3,Wed Aug 30 16:10:41 CEST 2017,2,35,61,4,1632,0.0,0.0
4,Wed Aug 30 16:10:43 CEST 2017,2,36,45,2,1424,0.0,0.0

In [2]:
import process_raw_data as 

processed_df = create_dataframe(df, 'Falen')

ModuleNotFoundError: No module named 'process_raw_data'